.ls li{
    list-style: none;
    padding-top: 0px;
    display: inline;
    float: right;
    padding-right: 20px;
    font-weight: bold;
    font-size: 18px;
    color: black;

}
.ls{
    width: 25%;
    float: right;
}
.bur-logo{
    width: 50%;
    float: left;

}
.bur-par h3{
    font-weight: bold;
}
.bur-logo h2 em span{
    color: orange;
    font-weight: bold;
    
}
.bur-logo h2{
    font-family: 'Courier New', Courier, monospace;
}
.btn{
    background-color: orange;
    border: none;
    text-align: center;
    font-weight: bold;
    color: white;
    border-radius: 20px;
    height: 55px;
    width: 185px;
    margin-top: 130px;
   }
   /*.quality-bur img{
    filter: orange;
    size: 10px;
    height: 15%;
    width: 15%;

}
.delivery-bur img{
    filter: orange;
    size: 10px;
    height: 15%;
    width: 15%;}
.delivery-bur img{
        filter: orange;
        size: 10px;
        height: 15%;
        width: 15%;
}
.del{
    background-color: palegreen;
}
.menu h2{ 
    font-weight: bold;  
    color: purple;  
}
.menu hr{
    width: 50%;
    height: 80%;
    font-weight: bold;
    background-color: orange;
    position: left;*/
}
.menu h3{
    color: purple; 
 } 
.heading1 h2 span{
    color: orange;
}
.heading1 h2{
    text-align: center;
    padding-bottom: 105px;
    padding-top: 75px;
}
.city img{
    height: 75%;
    width: 45%;
        background: orange;
    float: right;
}
.container2{
    width: 100%;
    height: 20%;
    display: flex;
    background-color: rgb(206, 233, 206);
}
.burger1 img{
    height: 15%;
    width: 15%;
   background-color: orange;
}
.burger2 img{
    height: 15%;
    width: 15%;

}
.del-bur img{
    height: 15%;
    width: 15%;
}
.menu{
    width: 20%;
height: 300px;
margin: 20px;
}
.burger3 img{
    height: 15%;
    width: 15%;
}
.container10{
    width: 100%;
    height: 20%;
    display: flex;
    background-color: rgb(236, 253, 207);
}
.menu4{
    box-shadow: 2px 2px 3px 2px;
    padding: 20px;
    margin: 20px;
    margin-left: 20px;
    float: left;
    width: 25%;
    text-align: center;
    border-radius: 25px;
    margin-bottom: 50px;
}
.menu4 img{
    height: 35%;
    width: 65%;
}
.menu5{
    box-shadow: 2px 2px 3px 2px;
    padding: 20px;
    margin: 20px;
    margin-left: 20px;
    float: left;
    width: 25%;
    text-align: center;
    border-radius: 25px;
}
.menu5 img{
    height: 35%;
    width: 65%;
}
.menu6{
    box-shadow: 2px 2px 3px 2px;
    padding: 20px;
    margin: 20px;
    margin-left: 20px;
    float: left;
    width: 25%;
    text-align: center;
    border-radius: 25px;
}
.menu6 img{
    height: 35%;
    width: 65%;
}
.menu1{
    box-shadow: 2px 2px 3px 2px;
    padding: 20px;
    margin: 20px;
    margin-left: 20px;
    float: left;
    width: 25%;
    text-align: center;
    border-radius: 25px;

}
.menu1 img{
    height: 20%;
    width: 65%;
}
.menu2{
    box-shadow: 2px 2px 3px 2px;
    padding: 20px;
    margin: 20px;
    margin-left: 20px;
    float: left;
    width: 25%;
    text-align: center;
    border-radius: 25px;
}
.menu2 img{
    height: 20%;
    width: 65%;
}
.menu3{
    box-shadow: 2px 2px 3px 2px;
    padding: 20px;
    margin: 20px;
    margin-left: 20px;
    float: left;
    width: 25%;
    text-align: center;
    border-radius: 25px;;
}
.menu3 img{
    height: 20%;
    width: 65%;
}
.class h2{
    font-weight: bold;
    color: orange;
}
.double h2 span{
    color: orange;
    font-weight: bold;
}
.double{
    padding-left: 130px;
}
.container{
    width: 100%;
    height: 20%;
    display: flex;
}
.double{
    width: 33.33%;
    height: auto;
}
.double-check{
    width: 33.33%;
    height: auto;
}
.double-check img{
    height: 55;
    width: 45%;
}
.burger1{
    box-shadow: 2px 2px 3px 2px;
    padding: 20px;
    margin: 20px;
    margin-left: 20px;
    float: left;
    width: 25%;
    text-align: center;
    border-radius: 25px;
}
.burger2{
    box-shadow: 2px 2px 3px 2px;
    padding: 20px;
    margin: 20px;
    margin-left: 20px;
    float: left;
    width: 25%;
    height: 35%;
    text-align: center;
    border-radius: 25px;
}
.burger3{
    box-shadow: 2px 2px 3px 2px;
    padding: 20px;
    margin: 20px;
    margin-left: 20px;
    float: left;
    width: 25%;
    text-align: center;
    border-radius: 25px;
}
.amount{
    display: flex;
    justify-content: space-between;
}
.btn2{
    height: 40%;
    width: 25%;
    border: none;
    padding top: 120px;
    border-radius: 10px;
    margin-bottom: 50px;
    margin: 8px,4px;
}
.btn3{
    height: 40%;
    width: 25%;
    border: none;
    padding top: 120px;
    border-radius: 10px;
    margin-bottom: 50px;
    margin: 8px,4px;
}
.amount2{
    display: flex;
    justify-content: space-between;
}
.amount3{
    display: flex;
    justify-content: space-between;
}
.amount4{
    display: flex;
    justify-content: space-between;
}
.btn4{
    height: 40%;
    width: 25%;
    border: none;
    border-radius: 10px;
    margin-bottom: 50px;
    margin: 8px,4px;
}
.amount5{
    display: flex;
    justify-content: space-between;
}
.btn5{
    height: 40%;
    width: 25%;
    border: none;
    padding top: 120px;
    border-radius: 10px;
    margin-bottom: 50px;
    margin: 8px,4px;
}
.amount6{
    display: flex;
    justify-content: space-between;
}
.btn6{
    height: 40%;
    width: 25%;
    border: none;
    padding top: 120px;
    border-radius: 10px;
    margin-bottom: 50px;
    margin: 8px,4px;
}
.btn7{
    border: none;
    padding top: 120px;
    border-radius: 10px;
    height: 55px;
    width: 100px;
}
.container5{
    width: 100%;
    height: 20%;
    background-color: orange;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
}
.app img{
    width: 110px;
    height: 45px;
}
.app p{
    font-weight: bold;
    font-size: 20px;
}
#btn9{
    float: left;
    width: 15%;
    padding: 10px;
    background-color: orange;
    color: white;
    cursor: pointer;
}
.container11{
    width: 100%;
    height: 20%;
    padding-top: 10px;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
}
.ls2 li{
    list-style: none;
}
#social img{
    height: 30%;
    width: 15%;

}
.social-media{
    width: 100%;
    height: 20%;
    padding-top: 30px;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
}
#copyright{
    width: 33.33%;
}
#social{
    width: 33.33%;
}
#love{
    width: 33.33%;
}
.heading1 h2{
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-emphasis-color: orange;
}
#log span{
    color: orange;
}
.container11{
    padding-top: 0px;
}
.app{
    width: 17%;
}
.mobile{
    padding-left: 450px;
}
#input{
    width: 20%;
}